*$py.class
*,cover
*.bak
*.egg
*.egg-info/
*.iws
*.launch
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.pyc
*.pydevproject
*.sage.py
*.so
*.spec
*.swp
*.tmp
*~.nib
.Python
.buildpath
.cache
.cache-main
.classpath
.coverage
.coverage.*
.cproject
.eggs/
.env
.externalToolBuilders/
.factorypath
.hypothesis/
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea/sonarlint
.idea/vcs.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.loadpath
.metadata
.project
.pydevproject
.python-version
.recommenders
.recommenders/
.ropeproject
.scala_dependencies
.scannerwork/
.scrapy
.settings/
.springBeans
.spyderproject
.spyproject
.target
.tern-project
.texlipse
.tox/
.venv
.vscode
.webassets-cache
.worksheet
/out/
/site
ENV/
__pycache__/
ansible/ssh*
atlassian-ide-plugin.xml
build/
celerybeat-schedule
cmake-build-debug/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
develop-eggs/
dist/
docs/*.key
docs/*.tar.gz
docs/_build/
docs/build
downloads/
eggs/
env/
fabric.properties
htmlcov/
instance/
lib/
lib64/
local.properties
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
report.xml
reports/
sdist/
target/
tmp/
var/
venv/
wheels/
!/tests/bin/
