include LICENSE.txt README.rst requirements.txt requirements-test.txt requirements-dev.txt mlflow_rest_client/VERSION
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude docs *
recursive-exclude samples *
recursive-exclude tests *
prune docs*
prune samples*
prune tests*
