coverage==5.1
numpydoc
pylint==2.5.3; python_version >= "3.5"
pylint==1.9.5; python_version == "2.7"
pytest==4.6.11; python_version == "2.7"
pytest==5.4.3; python_version >= "3"
pytest-logger==0.5.1
pytest-rerunfailures==8.0; python_version == "2.7"
pytest-rerunfailures==9.0; python_version >= "3"
sphinx
sphinx_rtd_theme