name: Releases

on:
  push:
    tags:
    - '*'

jobs:

  wait:
    name: Wait for tests
    runs-on: ubuntu-latest

    steps:
    - uses: fountainhead/action-wait-for-check@v1.0.0
      id: wait-for-tests
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        checkName: Tests done (push)
        ref: ${{ github.sha }}
        timeoutSeconds: 3600

    - name: Fail the Build
      uses: cutenode/action-always-fail@v1
      if: steps.wait-for-tests.outputs.conclusion != 'success'

  build:
    name: Build package
    runs-on: ubuntu-latest
    needs: [wait]
    strategy:
      matrix:
        python-version: ['3.10']

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}
          ${{ runner.os }}-python-${{ matrix.python-version }}-pip-
          ${{ runner.os }}-python
          ${{ runner.os }}-

    - name: Upgrade pip
      run: python -m pip install --upgrade pip setuptools wheel twine

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Build package
      run: python setup.py bdist_wheel sdist

    - name: Upload coverage results
      uses: actions/upload-artifact@v2
      with:
        name: dist-${{ matrix.python-version }}
        path: dist/*

  release:
    name: Release package
    runs-on: ubuntu-latest
    needs: [build]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: sbom-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('requirements*.txt') }}
        restore-keys: |
          sbom-${{ runner.os }}-${{ matrix.python-version }}-
          sbom-${{ runner.os }}-

    - name: Upgrade pip
      run: python -m pip install --upgrade pip setuptools wheel twine

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        mkdir reports/
        pip freeze > ./reports/requirements-frozen.txt

    - name: Export SBOM
      run: |
        pip install cyclonedx-bom
        cyclonedx-py -r -i ./reports/requirements-frozen.txt -o ./reports/sbom.xml
        rm ./reports/requirements-frozen.txt

    - name: Install dev dependencies
      run: pip install -r requirements-dev.txt

    - name: Download all built packages
      uses: actions/download-artifact@v2
      with:
        path: dist_raw

    - name: Move packages to dist folder
      run: |
        mkdir dist
        find dist_raw -type f -exec mv '{}' dist \;

    - name: Check package
      run: twine check dist/*

    - name: Publish package
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload --skip-existing dist/*

    - name: Create Github release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: false
        prerelease: false
        files: |
          dist/*
          reports/*
